<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <header>
                <h1 class="auth-page-logo">{{ i18n "Sana Protocol Builder" }}</h1>
            </header>
            <nav class="menu">
              <h3 class="menu-heading">
                {{ i18n User Settings }}
              </h3>
              <a href="/{{ currentLanguage }}/settings/account">{{ i18n "Account" }}</a>
              <a href="/{{ currentLanguage }}/settings/mds">{{ i18n "MDS Links" }}</a>
            </nav>
            <div class="settings-form-area"></div>
        </div>
    </div>
</div>
