<span class="title">
    {{ title }}
</span>
<span class="procedure-info author">
    <strong>{{ i18n "Author" }}:</strong> {{ author }}
</span>
<span class="procedure-info last-modified">
    <strong>{{ i18n "Last Modified" }}:</strong> {{ formatDate last_modified }}
</span>
<span class="procedure-info fork-count">
    <strong>{{ i18n "No. of forks" }}:</strong> {{ fork_count }}
</span>
<a class="save glyphicon glyphicon-floppy-save" title="{{ i18n "Save this procedure to your account" }}"></a>
<a class="download glyphicon glyphicon-download-alt" title="{{ i18n "Download this procedure as XML" }}"></a>
